body{
  background: #151515;
  font-weight: 100;
  text-align: center;
}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 40px;
}

#clockdiv{
  color: #fff;
  font-weight: 100;
  font-size: 390px;
}

#clockdiv > div{
  display: inline-block;
  width: 1em;
}

#clockdiv div > span{
  width: 1em;
}
